# Example environment variables
# Add your own values in a real .env file (do NOT commit secrets)
PORT=3000
MONGO_URI=mongodb://riyasood623_db_user:5YvXEHdnKJKsOUE2@ac-lskdcrl-shard-00-00.nwtcyqo.mongodb.net:27017,ac-lskdcrl-shard-00-01.nwtcyqo.mongodb.net:27017,ac-lskdcrl-shard-00-02.nwtcyqo.mongodb.net:27017/preppilot?ssl=true&authSource=admin&retryWrites=true&w=majority&appName=PrepPilot
SECRET_KEY=your_secret

# Cloudinary credentials
CLOUDINARY_CLOUD_NAME=dobhyh1mv
CLOUDINARY_API_KEY=936175644775694
CLOUDINARY_API_SECRET=q3B07sVs0QzUJDm5q7FYuZ2_KoA
MONGO_URI=mongodb://riyasood623_db_user:5YvXEHdnKJKsOUE2@ac-lskdcrl-shard-00-00.nwtcyqo.mongodb.net:27017,ac-lskdcrl-shard-00-01.nwtcyqo.mongodb.net:27017,ac-lskdcrl-shard-00-02.nwtcyqo.mongodb.net:27017/preppilot?ssl=true&authSource=admin&retryWrites=true&w=majority&appName=PrepPilot
CLOUDINARY_URL=cloudinary://936175644775694:q3B07sVs0QzUJDm5q7FYuZ2_KoA@dobhyh1mv
DATABASE_URL="postgresql://postgres:postgres123@localhost:5432/preppilot_analytics?schema=public"