body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(135deg,#0f172a,#1e293b);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
}

.hero{
text-align:center;
background:rgba(255,255,255,0.08);
padding:50px;
border-radius:20px;
backdrop-filter:blur(10px);
width:600px;
}

.description{
opacity:0.9;
}

.tips{
margin-top:20px;
}

.buttons{
margin-top:30px;
}

.btn{
padding:14px 28px;
border-radius:10px;
text-decoration:none;
margin:10px;
font-weight:bold;
transition:0.3s;
}

.btn:hover{
transform:translateY(-3px);
}

.admin{
background:#3b82f6;
color:white;
}

.student{
background:#22c55e;
color:white;
}