body{
font-family:Segoe UI;
background:#0f172a;
color:white;
padding:30px;
}

.form{
margin-bottom:20px;
}

input{
display:block;
margin:10px 0;
padding:10px;
width:300px;
}

button{
padding:10px 15px;
border:none;
border-radius:6px;
background:#22c55e;
color:white;
cursor:pointer;
}

.company{
background:rgba(255,255,255,0.08);
padding:15px;
margin-top:10px;
border-radius:10px;
}